/* FONTS */
@font-face {
  font-family: Rubik;
  src: url(../assets/Rubik.ttf) format(truetype);
}

/* GLOBALS */
:root {
  --blue: #5847eb;
  --white: #f8f8f8;
  --very-dark-blue: #0f1424;
  --dark-blue: #1c1f4a;
  --desaturated-blue: #6f76c8;
  --pale-blue: #bdc1ff;
  --bg-work: #ff8c66;
  --bg-play: #56c2e6;
  --bg-study: #ff5c7c;
  --bg-exercise: #4acf81;
  --bg-social: #7536d3;
  --bg-care: #f1c65b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--very-dark-blue);
}

.app {
  width: 90%;
  max-width: 1100px;
  min-height: 100vh;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Rubik;
  font-weight: 300;
  color: var(--white);
  animation: fade-In 1s;
}

/* ANIMATION */
@keyframes fade-In {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* ADAPTIVE */
@media (max-width: 1000px) {
  .app {
    margin: 4rem auto;
  }
}
